*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'sass/colors';
@import 'sass/typography';

body{
    width: 100%;

    background-color: $black-dark;
}

.border{
    border: 1px solid red;
}

@import 'sass/spacing';
@import 'sass/layout';