

$black-normal: #0D0E10;
$black-dark: #050607;
$black-light: #15171A;


$white-normal: #F5F7F7;
$white-dark: #EDEFF0;
$white-light: #FAFCFC;

$blue-normal: #2DC7ED;
$blue-dark: #15AED4;
$blue-light: #4DDCFF;

$gray-1: #777;

.color-gray{
    color: $gray-1;
}